{% extends 'index.html'%}
{% block head %}
<title>Code Calender</title>
{% endblock %}
{% block content %}
    <style>
    body{
        align-content: center;
    }
    .table{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    </style>
    <table class="table" style="text-align: center" border="3">
        <thead>
            <th style="text-align: center">Contest Platform</th>
            <th style="text-align: center">Contest Name</th>
            <th style="text-align: center">Contest Date&Time</th>
        </thead>
        {% for contest in cf_contest_list %}
            {% if contest.phase == string %}
                <tr>
                    <td style="text-align: center">Codeforces</td>
                    <td style="text-align: center"><a href="{{ cf_contest_link }}{{ contest.id }}">{{ contest.name }}</a></td>
                    <td>{{ contest.startTimeSeconds }}</td>
                </tr>
            {% endif %}
        {% endfor %}

        {% for contest in chef_contest_list %}
            <tr>
                <td style="text-align: center">Codechef</td>
                <td style="text-align: center"><a href="{{ chef_contest_link }}{{ contest.0 }}">{{ contest.1 }}</a></td>
                <td>{{ contest.2 }}, {{ contest.3 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}