<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block head %}
{% endblock %}
</head>
<body>

<!-- Navigation -->
<card class="card">
<h1>Code Crawler</h1>
</card>
<div class="topnav" >

  <a class="active" href="{% url 'home' %}">Home</a>
  <a href="{% url 'developers' %}">About</a>
  <a href="{% url 'calender' %}">Calender</a>
  <div class="search-container">
    <form action="{% url 'analytics' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Search.." name="handleinput">
        <button class="w3-button w3-blue">Search</button>
    </form>
  </div>
  <a href="{% url 'logout' %}">Log out</a>
</div>
{% block content %}
{% endblock %}

</body>
</html>