<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">

        <div class="menu">
            <ul>
                <li class="logo"><img src="{% static 'img/logo.png' %}"></li>
                <li>Home</li>
                <li><a href="{% url 'calender' %}">Calender</a></li>
                <li>Contact us</li>
                <li><a href="{% url 'developers' %}">About us</li>
                <li><input type="text" placeholder="who are you looking for?" name="handle" class="search-box"></li>
                <li><a href="{% url 'analytics' %}" class="search-btn"><span>search</span></a> </li>
                <li><a href="{% url 'logout' %}" class="logout-btn"><span>Logout</span></a> </li>
            </ul>
        </div>
    {% block content%}
    {% endblock %}

    </div>
</body>
</html>