<html>
<title>Sign Up</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .container {
    font-size: 4vh;
  }
</style>





<body style="background-color: #f1ec40;">

<!-- Sidebar -->
<div class="w3-sidebar w3-black w3-bar-block" style="width:50%; ">
    <img style="border-radius:42vh;margin-left:12vh;margin-top:11vh;" src="../static/img/web logo.PNG">

</div>

<!-- Page Content -->
<div style="margin-left:62%;">

<div class="w3-container ">

</div>


<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
<div class="container" style=" margin-top: 5vh;font-family: 'Roboto', sans-serif;">
    <label  for="username"><b>Username</b></label>
    <br>
    <input style="border-radius: 15px;" type="text" placeholder="Enter Username" name="username" required>
     <br>
     <br>
     <label for="email"><b>Email</b></label>
    <br>
    <input style="border-radius: 15px;" type="text" placeholder="Enter Email" name="email" required>
    <br>
    <br>
    <label for="password1"><b>Password</b></label>
    <br>
    <input style="border-radius: 15px;" type="password" placeholder="Enter Password" name="password1" required>
    <br>
    <br>
    <label for="password2"><b>Confirm Password</b></label>
    <br>
    <input style="border-radius: 15px;" type="password" placeholder="Enter Password" name="password2" required>
  </div>
  <br>
  <button style="border-radius: 18px;background-color: #767676;font-size: 5vh;margin-left: 15vh;" type="submit">Submit</button>

</form>


</div>

</body>
</html>